.wrapper {
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 400px;
}
.heading {
  max-width: 70rem;
  margin: 2rem auto;
  text-align: center;
  font-size: 4rem;
}
.loader {
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}
