.img {
  width: 100vh;
  max-height: 30vw;
  object-fit: cover;
  border: 10px solid black;
}

.container {
  box-shadow: 0 8px 6px -6px black;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tools {
  margin-bottom: 10px;
}
.tools button {
  margin-left: 10px;
  width: 2em;
}
